.header{
    display: flex;
    width: 100%;
    min-height: 60px;
    background-color: skyblue;
    .header-list{
        li{
            width: 50px;
            display: inline;
            list-style: none;
            margin: 10px;
        }
    }
}


.test{
    position: absolute;
    width: 100%;
    .anim{
        width:100px;
    }
}


.ellipsisd {
   overflow: hidden;
   text-overflow: ellipsis;
   line-height: 16px;     /* fallback */
   max-height: 48px;      /* fallback */
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
   white-space: nowrap;
}