.dash{
    .listings{
        width: 30%;
        display: inline-block;
        .selected{
            background-color: skyblue;
        }
    }
    .desc{
        position: absolute;
        width: 70%;
        display: inline-block;
    }
}

li{
    width:100px;
    display: inline-block;
}