<!-- <div class="dash">
  <div class="listings">
    <ul>
      <li *ngFor="let dc of dcList">
        <div [class.selected]="dc.id === selectedDc" (click)="selected(dc)">{{dc.name }}</div>
      </li>
    </ul>
  </div>

  <div class="desc" *ngIf="selectedDc">
    <app-desc [desc]="selectedDc"></app-desc>
  </div>
</div>

<form [formGroup]="Cryptoform">
  <select formControlName="exchanges">
    <option *ngFor="let s of exchanges" [value]="s">{{s}}</option>
  </select>
  <select formControlName="fromCurr">
    <option *ngFor="let c of fromCurr" [value]="c">{{c}}</option>
  </select>
  <select formControlName="toCurr">
    <option *ngFor="let sc of toCurr" [value]="sc">{{sc}}</option>
  </select>
  <button type="" (click)="addToDashboard()"></button>
</form> -->


<div class="">
  <ul>
    <li *ngFor="let c of coinList">
      <div>{{c.CoinName }}</div>
      <div [attr.id]="c.Name">{{c | price }}</div>
      <img src="{{'https://cryptocompare.com'+c.ImageUrl}}" width="42" height="42" alt="{{c.CoinName}}">
    </li>
  </ul>
</div>