.dash{
    color: white;
    .listings{
        width: 30%;
        display: inline-block;
        .selected{
            background-color: red;
        }
    }
    .desc{
        position: absolute;
        width: 70%;
        display: inline-block;
    }
}

.blk{
    width:100px;
    display: flex;
    .coin-name{
        color:white;
        font-size: 5rem;
    }
    div{
        display: inline;
    }
}
.price{
    color:white;
    font-size: 5rem;
}